body{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}
.card{
    display: flex;
    align-items: center;
    border: solid 0px;
    border-radius: 50px;
    background-color: lightskyblue;
    margin: 10px 2px;
    padding: 0 30px 0 0;
    overflow: hidden;
}
.card:hover{
    background-color: deepskyblue;
}
.gambar{
    width: 70px;
    height: 70px;
    border: solid 0px;
    border-radius: 50%;
}
.identitas span{
    display: block;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
.x{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    height: 100%;
}
.x:hover{
    color: red;
}
.nama{
    font-weight: bold;
}
.nomer{
    color: #4d4c4c;
}